@import url('https://fonts.googleapis.com/css?family=Orbitron');

.calc {
    display: flex;
    background-color: gray;
    padding: 1rem;
    max-width: 20rem;
    flex-direction: column;
    border-radius: 0.3rem;
    box-shadow: inset 3px 2px 5px rgb(22, 53, 73), inset -3px -2px 3px rgb(22, 53, 73);
}

#display {
    background-color: skyblue;
    padding: 1rem;
    border: 1px solid black;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Orbitron', sans-serif;
    text-align: end;
    box-shadow: inset 1px 1px 1px black, inset -1px -1px 1px white;
}
.keyboard {
    display: flex;
    flex-direction: row;
}

.keyboard button {
    border-radius: 2px;
    border: 1px solid transparent;
    margin: 0.25rem;
    padding: 0.5rem;
    box-shadow: inset 1px 1px 1px white;
    outline: none;
}

.action {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}
.keyboard .numeric div {
    display: flex;
}

.keyboard .numeric div button {
    flex: 1;
    background-color: black;
    color: white;
    
}

        .keyboard .numeric div button:active{
            box-shadow: inset -1px -1px 1px white; /* pozicce osa x y rozmazání barva*/
            color: #ddd;
        
        }